@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }

  table {
    border: white 2px solid !important;
  }

  td {
    border: white 2px solid !important;
  }

  .postTag {
    color: black !important;
    background: white !important;
    border-color: black !important;
  }

  .postTag:before {
    background: black !important;
  }
}

@media (width >= 64rem) {
  article {
    width: 80% !important;
  }
}

article {
  width: 100%;
}

/* codepen */
.cp_embed_wrapper {
  margin-bottom: 48px;
}

/* tag Tailwindでは難しかったので*/
.postTag {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 3rem;
  color: white;
  border-radius: 100vh 0 0 100vh;
  background: black;
  border-color: white;
  margin: 0.25rem 1rem 0.25rem 0;
}

.postTag:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #fff;
}
