@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }

  table {
    border: white 2px solid !important;
  }

  td {
    border: white 2px solid !important;
  }
}

article {
  width: 80%;
}

/* codepen */
.cp_embed_wrapper {
  margin-bottom: 48px;
}
