.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p {
  @apply block my-4
}

.markdown ul {
  @apply block list-image-none list-outside list-disc my-4 pl-10;
}

.markdown ol {
  @apply block list-image-none list-outside list-decimal my-4 pl-10;
}

.markdown blockquote {
  @apply block my-4 mx-10;
}

.markdown h1 {
  @apply block text-3xl font-bold my-4;
  page-break-after: avoid;
}

.markdown h2 {
  @apply block text-2xl font-bold my-4;
  page-break-after: avoid;
}

.markdown h3 {
  @apply block text-xl font-bold my-4;
  page-break-after: avoid;
}

.markdown code {
  @apply font-mono text-xs whitespace-pre-wrap;
}

.markdown table {
  @apply border-solid border border-black border-spacing-1 box-border table;
}

.markdown tbody {
  @apply box-border table-row-group align-middle;
}

.markdown td {
  @apply border-solid border border-black m-3 table-cell p-px align-middle;
}

.markdown tfoot {
  @apply box-border table-footer-group align-middle
}

.markdown th {
  @apply border-solid border border-black m-3 table-cell font-bold p-0.5 text-center align-middle;
  zoom: 1;
}

.markdown tr {
  @apply box-border table-row align-middle;
  zoom: 1;
}

.markdown pre {
  @apply bg-gray-200 block font-mono text-base my-4 mx-0 whitespace-pre-wrap;
}

.markdown a {
  @apply text-sky-600 underline;
}


.markdown input {
  @apply bg-white border-2 font-sans text-sm overflow-hidden p-px;
}

.markdown em {
  @apply italic;
}

.markdown strong {
  font-weight: bold;
}

.markdown blockquote {
  display: block;
  margin: 1em 40px;
}

.markdown textarea {
  background-color: #FFF;
  border-width: 1px;
  font-family: monospace;
  font-size: 10pt;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2px;
  white-space: pre-wrap;
  zoom: 1;
}

.markdown button {
  background-color: #F0F0F0;
  border-width: 3px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10pt;
  overflow: hidden;
  padding: 1px 8px;
  text-align: center;
  zoom: 1;
}
