@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    body {
      background-color: #000;
      color: #fff;
    }
}

/*プログラミング記事内の簡略コード用*/
.programming-abstract{
  display:none;
}